@{
    ViewBag.Title = "What We're Doing Here:";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    We started this shop in 2018 with a simple mission -- to sell stuff, yes, but also to have a flimsy excuse to build a halfway-decent website. 
    Watch this space over the next few weeks, and you'll see us get there.
</p>
