@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Something Shop's Official Portal!</h1>
    <p>Welcome to the Something Shop! We'll eventually put some content here, but for now, let's get you signed up for updates.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            
        </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>